
body{
    margin:0;
    font-family:"karla" , sans-serif;
}

.header--container{
    display:flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image{
    width: 50px;
    height: 50px;
    margin-right: 6px;
}

.header--title{
    font-size: 1.5rem;
    margin-right: auto;
    font-weight: 1000;
}

.header--project{
    font-size: 1.25rem;
    font-weight: 100;
}

/*.form{
    padding:36px;
}*/

.form--container{
    display: flex;
    margin-bottom: 10px;
    padding:36px;
}

.form--input1{
    width: 100%;
    margin-right: 0.9rem;
    font-family:"karla" , sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    height: 40px;
}

.form--input2{
    width: 100%;
    font-family:"karla" , sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    height: 40px;
}

.form--button{
    width: 100%;
    font-family:"karla" , sans-serif;
    font-weight: bold;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    height: 40px;
    margin-left: 10px;
}

.meme-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meme-container img {
    width: 400px;
}

.meme-text{
    position: absolute;
    font-family: 'anton';
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    letter-spacing: 1px;
}

.meme-text.top{
    top: 10px;
}

.meme-text.bottom{
    bottom: 10px;
}